::-webkit-input-placeholder {
   color: #CAF1ED; font-weight:lighter !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #CAF1ED;   font-weight:lighter !important;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #CAF1ED;   font-weight:lighter !important;
}
:-ms-input-placeholder {  
   color: #CAF1ED;   font-weight:lighter !important;
}

body { font-family:'Roboto',sans-serif; height:100%; }
body.toolbar-spacer { margin:0; padding:64px 0 0 0; }
body a, body a:visited { color:#0000EE; }

h2 { padding:0; margin:20px 10px 0px 20px; }
button:focus {outline:0;}
input:focus {outline:0;}
form#search { vertical-align: middle; height:54px; position:relative; vertical-align: middle; display: inline-block; line-height: normal; width:90%; margin:0 auto; padding:0; }
form#search input { height:auto !important; font-size:20px; margin:0; padding:6px 12px !important; background:rgba(255, 255, 255, 0.25); border:0; border-radius:5px; color:#fff; }
form#search input:focus { background:rgba(255, 255, 255, 0.9); color:#4ECFC2; box-shadow:inset 1px 1px 10px rgba(0,0,0,0.1); }
form#search input:not(:focus):hover { background:rgba(255, 255, 255, 0.35); }
md-input-container { margin:6px !important;}
form#search button { position:absolute; top:0; right:0; color:#CAF1ED; width:auto; font-size:20px; height:100%; margin:0 12px 0 0; border:0; background-color:transparent; }
form#search button i { color:#fff; font-size:30px; padding-top:8px; }
form#search button i:hover { opacity:0.75; cursor:pointer; }
md-toolbar.search { position:fixed; top:0; left:0;  z-index:99; }
.md-toolbar-tools { text-align:center !important; }
.md-headline { font-size:20px !important; padding:0 !important; white-space:nowrap; width:100%; }
.md-headline:after { 
  content:'';
  width:30px;
  height:100%;    
  position:absolute;
  right:0;
  top:0;
  background:linear-gradient(to right, transparent 0, white 80%, white);
}
.md-subhead { font-size:13px !important; padding:0 !important;margin:0; }
md-card { cursor:pointer; transition:all 0.5s;  }
md-card:hover { box-shadow: 1px 1px 16px rgba(0,0,0,0.5); }
md-card-title { padding:8px 12px !important;position: relative !important;  }
.album-card { width:180px;overflow:hidden; }
.album-card md-card-title { padding-bottom:0 !important; }
.album-card md-card-actions { margin:0 !important; }
.album-card md-card-actions i { opacity:0.5; transition:all 0.25s; font-size:24px; }
.album-card md-card-actions i:hover { opacity:1; }
md-toolbar.search { background-color:#3ACABB; }
md-content[md-scroll-y] { max-height:calc(100vh - 64px); }
.md-icon-button { position: relative !important;z-index:10 !important; }
table#table { border-collapse: collapse; margin:0; padding:0; width:100%; }
table#table button { font-size:14px; border:0; width:25px; padding:2px 0; position:relativr; z-index:9999; cursor:pointer; }
table#table button:hover { background-color:white; }
table#table th { white-space:nowrap; padding: 3px  6px 3px 6px; text-align:left; font-size:12px; border-bottom:1px solid #bbb; }
table#table td { padding:8px 16px; border:none; background-color:#fcfcfc; }
table#table td div { font-size:14px; padding:4px 0; }
table#table tr { border-bottom:1px solid #eee; }
table#table tr:nth-child(odd) td { background-color:#fff; }
table#table tr:hover td { background-color:#f8f8f8; }
table#table td button { opacity:0.5; transition:all 0.25s; font-size:24px; }
table#table td button:hover { opacity:1; background-color:transparent; }
div.table-margin { margin:6px; }

.start { background:url('../1.jpg') no-repeat center center; background-size:cover; display: table-cell; vertical-align: middle; text-align:center; width:100vw; height:100vh; padding:0; margin:0; }
.start div.frm { background-color:transparent; display: inline-block; line-height: 50px; box-shadow:none; position:relative; font-weight:bold; }
.start div.frm span.title { display:none; position:relative; width:100%; text-align:center; font-size:34px; }
.start div.frm span.title span { font-size:44px; }
.start div.frm form#search { width:50%; position:relative; }
.start div.frm form#search input { font-size:30px; background:rgba(255, 255, 255, 0.5); box-shadow:1px 1px 20px rgba(0,0,0,0.5); }
.start div.frm form#search button { font-size:36px; right:0; position:absolute; }
.start div.frm form#search input:focus { background:rgba(255, 255, 255, 0.9); color:#4ECFC2; box-shadow:inset 1px 1px 10px rgba(0,0,0,0.1); }
.start ::-webkit-input-placeholder {
   color: #000; font-weight:lighter !important;
}