<h2 ng-show="artists.length">Artists</h2>
<div ng-show="artists.length" layout="row" layout-wrap>
  <md-card ng-repeat="entry in artists = ($ctrl.data.entries | filter:{type:'2'}) | limitTo: 3" flex-gt-md="25" flex-md="30" flex-sm="45" flex-xs="100">
	<img ng-src="{{entry.artist.artistArtRef}}" class="md-card-image" alt="{{entry.artist.name}}" ng-click="show({id: entry.artist.artistId, type: 'artist'})">
	<md-card-title ng-click="show({id: entry.artist.artistId, type: 'artist'})">
	  <md-card-title-text>
		<span class="md-headline">{{entry.artist.name}}</span>
	  </md-card-title-text>
	</md-card-title>
  </md-card>
</div>
